<script src="/public/js/loginPage.js" type="text/javascript"></script>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row mt-2" style="background-color: peachpuff;">
                <div class="col-sm mini-box" id="companyName">Login Page</div>

            </div>