<div class="container mt-0 d-flex justify-content-center">

    <a href="/">
        <img src="./asset/img/IMG_7593.PNG" class="pr-2" id="logo_image" height="300" width="300">
    </a>
    <h1 id="title" class="element"> BEST GIG </h1>
    <div id="location-user" class="element"> </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <a href="/users/register" class = "btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class = "btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>